
@font-face {
    font-family: 'Inred World Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Inred World Regular'), url('./assets/InredWorld.woff') format('woff');
    }

h1{
    font-family: 'Inred World Regular';
    font-weight: 200;
    color: #0ccac4;
}
h1.country-name-text:hover{

    color: #e22bb7; 
    text-shadow: 0 0 10px rgba(238, 11, 250, 0.8);
  }

.bg-navyC{
    background-color: navy;
  }

