
@font-face {
    font-family: 'Inred World Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Inred World Regular'), url('./assets/InredWorld.woff') format('woff');
    }

h1{
    font-family: 'Inred World Regular';
    font-weight: 200;
    color: #0ccac4;
}

.bg-navyC{
    background-color: navy;
  }

